In [1]:
import pandas as pd
import numpy as np

In [4]:
obj = pd.Series(np.arange(4.), index=['a','b','c','d'])

In [8]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
.....:
 index=['Ohio', 'Colorado', 'Utah', 'New York'],
.....:
 columns=['one', 'two', 'three', 'four'])

In [17]:
 frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
.....:
 index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [20]:
type(np.abs(frame))

pandas.core.frame.DataFrame

In [23]:
frame

               b         d         e
Utah    1.427966  1.154460 -1.255681
Ohio    0.604094  0.434150 -1.836742
Texas  -1.123070  0.075486 -0.176957
Oregon  0.181960 -1.220290 -0.765942

In [24]:
f = lambda x: x.max() - x.min()
frame.apply(f,axis=1)

Utah      2.683647
Ohio      2.440836
Texas     1.198556
Oregon    1.402250
dtype: float64

In [25]:
 df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
.....:
 [np.nan, np.nan], [0.75, -1.3]],
.....:
 index=['a', 'b', 'c', 'd'],
.....:
 columns=['one', 'two'])

NameError: name 'DataFrame' is not defined